@media(max-width:668px){
    .container__skills{
        flex-direction: column;
      
    }
    .skill__item:not(:last-child){
        margin: 0 0 20px;
    }
    .footer__images{
        width: 100%;
        justify-content: space-between;
    }
.footer__img:not(:last-child){
    margin: 0;
    
}
.container{
    padding: 20px;
}


.footer__images{
    width: 80%;
}


.header__nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 420px;
    height: 100vh;
    z-index: 1000;
    box-shadow: 0 0 5px #888;
    background-color: #fff;
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-120%);
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  .nav__link {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }
  .menu_close {
    border: none;
    background-color: transparent;
    width: 24px;
    height: 24px;
    position: relative;
    padding: 0;
  }
  .cross {
    position: absolute;
    width: 11.66px;
    height: 2.33px;
    left: 6px;
    top: 11px;

    background: #cacaca;
    transform: rotate(-45deg);
  }
  .cross:nth-child(2) {
    transform: rotate(45deg);
  }
  .search-menu-pic {
    margin-right: 20px;
  }
  .burger {
    z-index: 10000;
  }
  .header__nav--active {
    visibility: visible;
    transform: none;
    width: 100%;
  }

  .burger--active .burger__line:nth-child(2) {
    opacity: 0;
  }

  .burger--active .burger__line:first-child {
    left: -6%;
    top: 50%;
    transform: rotate(45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out,
      left 0.3s ease-in-out;
  }
  .burger--active .burger__line:last-child {
    left: -6%;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out,
      left 0.3s ease-in-out;
  }
  .burger__line {
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out,
      left 0.3s ease-in-out;
  }
  .burger__line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: inherit;
    width: 30px;
    height: 3px;
    background-color: black;
  }
  .burger__line:first-child {
    top: 0px;
  }
  .burger__line:last-child {
    bottom: 0px;
  }
  .burger__line:nth-child(2) {
    transform: translate(-50% -50%);
    top: 10px;
  }
  .stop-scroll {
    overflow: hidden;
  }
  .header__nav .link_list {
    flex-direction: column;
  }
  .link_list{
    padding: 30px 0 0 30px;
  }
  .nav .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .nav .nav__item {
    font-size: 18px;
  }
  .burger {
    display: block;
    position: relative;
    width: 30px;
    height: 23px;
    border: none;
    border-radius: 3px;
    background-color: white;
  }
  .break{display: none;}

.hero__wrap{
    flex-direction: column;
align-items: start;}
.nav__item:last-child{
    display: flex;
    justify-content: end;
    padding-top: 10px;
}
.hero__text{
    align-items: initial;
}
.hero__span:not(:last-child){
    margin-bottom: 10px;
}
.hero__header{
    margin-bottom: 10px;
}
.about__text{
    max-width: 69%;
    text-align: center;
}
.hide{
    display: none;
  }
  .low__res__wrap{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}